html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* global */

:root {
  --color-blue: #3F2AFF;
  --color-white: #FFF;
  --color-dark-blue: #2E2B44;
  --color-light-grey: #85859B;
  --color-grey: #666;
  --color-dark: #212133;
  --color-light: #EDF0F9;
  --color-black: #333;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Regular'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Bold'),
    url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

.page {
  min-width: 320px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.logo {
  display: block;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.btn {
  padding: 20.5px 59px;
  border: none;
  border-radius: 20px;
  outline: 0;
  color: var(--color-white);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  background: #3F2AFF;
  cursor: pointer;
  transition: outline 0.3s ease-in-out;
}

.btn:focus-visible {
  outline: 1px solid var(--color-blue);
  outline-offset: 3px;
}

.link {
  transition: outline 0.3s ease-in-out, outline-offset 0.3s ease-in-out;
}

.link:focus-visible {
  outline: 1px solid var(--color-white);
  outline-offset: 3px;
}

.subtitle {
  margin: 0;
  margin-bottom: 30px;
  color: var(--color-dark-blue);
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
}

.sub-subtitle {
  margin: 0;
  color: var(--color-dark);
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  /* 27px */
}

.text {
  margin: 0;
  color: var(--color-grey);
  font-size: 16px;
  line-height: 150%;
}

/* header */

.header {
  padding: 28px 0;
  background-color: var(--color-blue);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 27px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 27px 57px;
}

.nav__link {
  color: var(--color-white);
  font-size: 18px;
}

/* hero */

.hero {
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}

.hero__wraper {
  padding: 130px 0;
  background-image: url("../img/hero-background.png");
  background-repeat: no-repeat;
  background-position: right 15px center;
}

.hero__title {
  margin: 0;
  margin-bottom: 27px;
  color: var(--color-white);
  font-size: 60px;
  font-weight: 700;
  line-height: 100%;
}

.hero__text {
  margin: 0;
  margin-bottom: 62px;
  color: var(--color-white);
  font-size: 18px;
  line-height: 150%;
  /* 27px */
}

.btn_hero {
  padding: 24px 75.5px;
}

.section-offset {
  margin-bottom: 80px;
}

/* advantages */

.advantages__top {
  align-items: center;
  margin-bottom: 23px;
}

.advantages__image {
  display: block;
  transform: translateY(-2%);
}

.subtitle_advantages {
  max-width: 380px;
  margin-bottom: 17px;
}

.text_advantages {
  max-width: 585px;
}

.col-4:last-child .text_advantage {
  transform: translate(-1%, 3%);
}

.advantage__image {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
}

.advantages__item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.text_advantage {
  color: var(--color-grey);
  font-weight: 700;
  line-height: 120%;
}

/* tutors */
.tutors {
  margin-bottom: 75px;
  padding: 75px 0 74px;
  background-color: var(--color-dark);
}

.subtitle_tutors {
  margin-bottom: 24px;
  color: var(--color-white);
}

.tutors__photo {
  display: block;
  margin-bottom: 27px;
}

.tutors__image {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.sub-subtitle_tutors {
  margin-bottom: 5px;
  color: var(--color-white);
}

.text_tutors {
  color: var(--color-light-grey);
}

/* courses */

.courses {
  margin-bottom: 79px;
}

.courses__list {
  row-gap: 30px;
}

.course-card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  min-height: 480px;
  border-radius: 20px;
  background-color: var(--color-light);
  background-position: top;
  background-repeat: no-repeat;
}

.course-card__image {
  display: block;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.course-card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 30px;
}

.subtitle_courses {
  margin-bottom: 24px;
}

.sub-subtitle_courses {
  margin-bottom: 7px;
}

.text_courses {
  margin-bottom: auto;
}

.course-card__duration {
  position: absolute;
  top: 13px;
  right: 5px;
  padding-left: 28px;
  color: var(--color-white);
  font-size: 16px;
}

.course-card__duration::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url("../img/courses/clock.svg");
  transform: translateY(-50%);
}

.btn_courses {
  padding: 21.5px 59px;
  font-size: 16px;
}

/* footer */

.footer {
  background-color: var(--color-dark-blue);
}

.footer__top {
  min-height: 80px;
  padding: 28px 0;
}

.footer__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.footer__link {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-social-1 {
  background-image: url("../img/footer/fb.svg");
}

.img-social-2 {
  background-image: url("../img/footer/tw.svg");
}

.img-social-3 {
  background-image: url("../img/footer/ins.svg");
}

.img-social-4 {
  background-image: url("../img/footer/yt.svg");
}

.footer__bottom {
  margin: 0 auto;
  padding-top: 4px;
  color: var(--color-black);
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  background-color: var(--color-white);
}

.footer__trademark {
  color: var(--color-blue);
}
